/* *{
    margin: 0;
} */
.app{
 display: flex;
 flex-direction: column;
}
.app>h1{
    margin: auto;
    padding: 20px;
    font-size: 40px;
    color: rgb(215, 12, 233);
    text-emphasis:500;
    text-decoration: underline;
}